@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.about {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #027a95;
}

.extra-bold {
    font-weight: 300;
    text-shadow: 1px 0 #888888;
}

.research-item p {
    margin: 0px;
}

.heading {
    margin-top: 40px
}

.research-item h3 {
    margin: 5px 0;
}

.research-pic {
    float: left;
    width: 18%;
    margin-right: 30px;
}

body {
    font-family: Work Sans, sans-serif;
    margin: 30px auto;
    width: 80%;
    line-height: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.about-pic {
    float: left;
    width: 25%;
    margin-right: 30px;
    border-radius: 50%;
}

.social-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-top: 10px;
}