@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
body {
    font-family: Work Sans, sans-serif;
    margin: 60px auto;
    width: 80%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.about-pic {
    float: left;
    width: 25%;
    margin-right: 20px;
}

.social-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 10px;
}